<div class="row">
  <h2 style="background-color: #f1f1f1; font-size: 24px; margin-left:10px; ">ÜRÜN EKLE</h2>
  <form #productAddForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        placeholder="BARKOD"
        #barkod="ngModel"
        class="form-control"
        name="barkod"
        required
        [(ngModel)] = "product.barkod"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="text"
        placeholder="ÜRÜN ADI"
        #name="ngModel"
        class="form-control"
        name="name"
        required
        [(ngModel)] = "product.name"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="text"
        placeholder="STOK KODU"
        #stockCode="ngModel"
        class="form-control"
        name="stockCode"
        required
        [(ngModel)] = "product.stockCode"
      />
    </div>
    <br />
    <div class="form-group">
      <input
        type="text"
        placeholder="KOLİ ADEDİ"
        #koli="ngModel"
        class="form-control"
        name="koli"
        required
        [(ngModel)] = "product.koli"
      />
    </div>
    <br />
    
    <button
      type="submit"
      style="
        padding: 15px;
        background-color: red;
        margin-left: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        color: white;
      "
    >
      ÜRÜN EKLE
    </button>
  </form>
</div>

