<body class="text-center">
  <div style="color:rgb(233, 197, 197)">
    <p>.</p>
    <p>.</p>
    <p>.</p>
  </div>
<div class="login-box">
    <h2 style="color: rgb(58, 57, 57); font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">SİSTEME GİRİŞ </h2>
    <br>
    <form #loginForm="ngForm"  (ngSubmit)="login(loginForm)" class="form-signin">
      <div class="user-box">
        <input type="number" #userName="ngModel" [(ngModel)]="model.tc" name="" required="" placeholder="Personal Sicil Numaranız">
      </div>
      <br>
      <div class="user-box">
        <input type="password" #password="ngModel" [(ngModel)]="model.password" name="" required="" placeholder="Sifre">
      </div>
      <br>
      <button class="forgot" (click)="forgotPassword()">Şifremi Unuttum</button>
      <br>
      <br>
      <button type="submit" class="login" (click)="goToHome()" >Giriş</button>
    </form>
</div>
<div style="color:rgb(233, 197, 197)">
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
</div>
</body>
