body {
  background-color: rgb(233, 197, 197);
}
.form-signin{
  margin:auto;
}

input {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.login {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(255, 64, 64);
}

.forgot {
  border: none;
  background-color: transparent;
  color: white;
  opacity: 0.4;
  color:black;
}
