.col {
    float: left;
    width: 33.33%;
  }

  .col1 {
    float: left;
    width: 33.33%;
  }

  button{
    border-radius: 12px;
    border-color: transparent;
    color: rgb(61, 61, 61);
    margin-bottom: 15px;
    margin-left: 10px;
    border-width: 15px;
 
  }