<p style="font-size: 35px;  padding-left:20px; color:red " class="col">Sayım</p>
<p style="font-size: 25px; padding-left:50px; padding-top: 10px;"  class="col"> Fatih Kocaman</p>
<p style="font-size: 25px; padding-top:10px;" class="col">-18.11.2021</p>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ürünler</th>
      <th scope="col">Stok Kodu</th>
      <th scope="col">+</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.stockCode }}</td>
      <td><button (click)="onCreateSayim(product)"class="btn btn-danger">+</button></td>
    </tr>
  </tbody>  
</table>

